.modal-overflow .modal-body h2 {
    font-size: 32px;
}

.modal-overflow .modal-body .input-container {
    width: calc(100% - 24px);
}

.modal-overflow .modal-body input {
    padding: 12px;
    border: 2px solid #c6c5c5c5;
    color: rgba(0,0,0,0.9);
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    width: 100%;

    margin-bottom: 12px;
}

.modal-overflow .modal-body label {
    color: #242424;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-overflow .modal-body a{
    color: red;
    position: initial;
    display: flex;
    width: 50%;
    margin: 10px 0px 0px 10px;
}

.modal-overflow .modal-body .btn-secondary{
    position: initial;
    width: 50%;
    margin-top: 32px;
}

.modal-overflow .modal-body .btn-secondary:hover {
    background-color: #3a44f8;
    transform: scale(1);
}